Body {
    background-color: aquamarine;
    color: aliceblue;
}


.header {
    padding: 20px;
    font-style: initial;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: rgb(243, 243, 38);

}


#header2 {

    font-size: 200%;
    font-style: italic;
    color: black
}

.supermario {

    width: 25%;
    height: 25%;
    border-style: double;
    border-width: 50%;
    border-color: silver;


}



.Experience {
    color: black;
    font-style: oblique;
    font-size: 100%;

}

.content {

    background-color: #2a607c;
    padding-top: 5px;

}

.vscode {
    width: 50%;
    height: 50%;




}

.firstProject {
    width: 70%;
    height: 70%;



}

.secondProject {
    width: 50%;
    height: 50%;



}


.center {
    display: block;
    margin: 5% auto;

}

.p {
    color: black;
    text-align: center;
}

.footer {
    font-size: 100%;
    font-style: normal;
    color: black
}